$black: #000;
$white: #fff;
$red: rgb(156, 4, 18);
@mixin tablet {
  @media screen and(min-width: 900px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 899px) {
    @content;
  }
}

@mixin max-wrap {
  max-width: 1400px;
  margin: 0 auto;
}

@mixin setFont {
  font-family: "Open Sans", sans-serif;
}

@import "normalize";
@import "menu";
@import "aboutus";
@import "contact";
@import "gallery";

body {
  background-color: $black;
  color: #fff;
  text-align: center;
  h2 {
    font-size: 3.2rem;
  }
  a {
    font-family: "Open Sans", sans-serif;
    color: white;
    transition: all 0.3s ease;

    &:hover {
      color: $red;
      transform: all 0.3s ease;
    }
  }
}
.split-columns {
  display: grid;
  @include tablet {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}
.navbar {
  background: $black;
  > .container-fluid {
    justify-content: flex-end;
  }
  .navbar-toggler {
    font-size: 1.5em;
  }
  .navbar-nav {
    text-align: right;
    padding: 0 30px;
  }
  .navbar-nav a.nav-link {
    color: $white;
  }
  @include tablet {
    display: none;
  }
}
header {
  background: $black;
  @include mobile {
    padding-bottom: 42px;
  }
  @include tablet {
    padding-top: 53px;
  }
  > .content {
    @include max-wrap;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    img {
      max-width: 355px;
      width: 100%;
    }
  }
}
.navigation {
  @include mobile {
    display: none;
  }
  ul {
    display: flex;
    flex-direction: row;
    li {
      text-transform: uppercase;
      padding: 0 1em;
      list-style: none;
      a {
        color: $white;
        transition: all 0.3s ease;
        &:hover {
          color: $red;
          text-decoration: underline;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

iframe {
  margin: 2em 0;
  border-radius: 15px;
}

footer {
  background: $black;
  text-align: center;
  > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    img {
      transform: scale(0.5);
    }
    .navigation {
      display: block;
    }
  }
  a {
    svg {
      filter: invert(23%) sepia(42%) saturate(1201%) hue-rotate(192deg)
        brightness(96%) contrast(92%);
      transform: scale(1.5);
      margin: 0 2em 1em;
      transition: all 0.3s ease;
      &:hover {
        filter: invert(100%);
        transition: all 0.3s ease;
      }
    }
  }
}
